<!DOCTYPE html>
<html>
    <body>
        
        <center>
            <h1>Update</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" placeholder="{{s.id}}" readonly><br><br>
                <input type="text" placeholder="{{s.task}}" required name="task"><br><br>
                <input type="text" placeholder="{{s.status}}"  required name="status"><br><br>
                <input type="submit">
                <!-- <input type="checkbox" value="Complete">Complete
                <input type="checkbox" value="InComplete">InComplete -->
            </form>
            </center>
    </body>
</html>